/* ContactUs.css */

.contact-us {
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contact-us-left {
  flex: 1;
}

.contact-us-address {
  flex: 1;
  text-align: right;
}

.contact-us h1 {
  color: #000000;
  margin-top: 0; /* Remove top margin from h1 */
}

.contact-us h2 {
  color: #777;
}

.contact-us p {
  color: #000000;
  margin-bottom: 15px;
}

.contact-us-address p {
  margin-left: 200px;
}

.contact-us p a {
  margin-left: 200px;
}

.contact-us-address h2 {
  margin-right: 100px;
}
